.headLine{
  text-align: center;
  font-size: 70px;
  background-color: teal;
  color: white;
  padding: 10px;
  border: 1px solid tomato;
  display: inline-block;
  position: absolute;
  /* left:30vw;
  top: 20vh; */
  
}